<p id="notice"></p>
<h2>Users</h2>
<table class=table>
 <thead>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>
 </thead>
</table>
<%= render 'users/info', user: @user %>
<tbody>
  <tr>
   <% @users.each do |user| %>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    <td><%= user.profile_image_id %></td>
    <td><%= user.name %></td>
    <td>
     <%= link_to "show", user_path(user.id) %>
    </td>
   <% end %>
  </tr>
</tbody>