<p id="notice">
  <%= notice %>
</p>
<h2>Book detail</h2>
 <div>
  <%= @book.user.name %>
  <%= @book.title %>
  <%= @book.body %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <% if @book.user == current_user %>
   <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
 </div>