<p id="notice"></p>
<%= render 'users/info', user: @user %>
<h2>Book detail</h2>
 <div>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= @book.user.name %>
  <%= @book.title %>
  <%= @book.body %>
  <% if @book.user == current_user %>
   <%= link_to "Edit", edit_book_path(@book) %>
   <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
 </div>